<link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />

<div class="wrapper">

    <img id="logo" src="~/Time_Magazine_logo.svg" alt="Time Logo" />
    <h1>People of the Years</h1>

    <form method="post">
        <div class="begin">
            <label for="beginYear">Starting Year</label>
            <input maxlength="4" min="1927" max="2016" name="beginYear" />
        </div>
        <div class="end">
            <label for="endYear">End Year</label>
            <input maxlength="4" min="1927" max="2016" name="endYear" />
        </div>

        <button id="search" type="submit">Search</button>
    </form>

</div>