<h1>This is the home view oh boy oh boy</h1>

<form method="get">

    <label for="beginYear">Starting Year</label>
    <input maxlength="4" name="beginYear" />

    <label for="endYear">End Year</label>
    <input maxlength="4" name="endYear" />

    <button type="submit">Search</button>
</form>